#Main_title{
    margin: 0px;
    color: violet;
    font-size: 40px;
    text-align: center;
}

#fondo{
    background-image: url("../Videojuego/assets/Fondos/back.png");
    background-size: auto;
    color: white;
}

#landing-page{
    background-image: url("../Videojuego/assets/Fondos/back.png");
    background-size: cover;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar{
    background-color: indigo;
    height: 60px;
    display: flex;
    align-items: center;     /* Centers items vertically */
}

li{
    display:inline-block;
}

li a{
    color: white;
    font-size: 25px;
    margin-right: 15px;
}

.displays{
    display: flex;
    justify-content: start;
    align-items: center;
    margin-right: 10px;
}

.game_images{
    margin-right: 40px;
}

.btn{
    background-color: indigo;
    color: white;
    padding: 20px 40px;
    border-radius: 8px;
    font-size: 30px;
    cursor: pointer;
    margin-bottom: 20px;
}

.hidden{
    display: none;
    margin-right: 10px;
}